@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #ecb00c, #ed2020, #940ecdf2);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}



.login-container {
  width: 100%;
  max-width: 380px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 16px;
  padding: 2rem;
  box-shadow: 0 8px 32px rgba(188, 4, 4, 0.25);
  color: #181717;
  animation: slideUp 0.5s ease-in-out;
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.login-form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: 600;
  font-size: 1.8rem;
}

.login-form input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
  outline: 1.5px solid #ccc;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);;
  font-size: 1rem;
}

.login-form input::placeholder {
  color: #b3aeae;
}

.login-form button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #e31919, #931ad0);
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  margin-top: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.login-form button:hover {
  background: linear-gradient(135deg, #e31919, #931ad0);
}

.google-btn {
  background-color: #40eadf;
  margin-top: 0.75rem;
}

.google-btn:hover {
  background-color: #c1351d;
}

.divider {
  text-align: center;
  margin: 1rem 0;
  font-size: 0.9rem;
  color: #a4a2a2;
  position: relative;
}

.divider::before,
.divider::after {
  content: "";
  height: 1px;
  width: 40%;
  background: #ccc;
  position: absolute;
  top: 50%;
}

.divider::before {
  left: 0;
}

.divider::after {
  right: 0;
}

.error {
  background-color: rgba(255, 0, 0, 0.1);
  color: #ff4d4d;
  padding: 8px;
  border-radius: 6px;
  font-size: 0.9rem;
  margin-bottom: 10px;
  text-align: center;
}


